[Unit]
Description=coronamans

[Service]
Environment=ACCESS_CONTROL_ALLOW_ORIGIN=https://coronamans.pharmatics.io
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/coronamans

[Install]
WantedBy=multi-user.target