[Unit]
Description=coronamans

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/coronamans

[Install]
WantedBy=multi-user.target