<div class="container" *ngIf="loading else loaded">
  <app-loading></app-loading>
</div>

<ng-template #loaded>

  <div class="modal-header">
    <h4 *ngIf='!createdEmployee' class="modal-title">Add Employee</h4>
    <h4 *ngIf='createdEmployee' class="modal-title">Employee Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="employeeAddForm" (ngSubmit)="onSubmit()">
    <div class="modal-body mt-3">
      <div class="form-group">
        <label for="name">Name:</label>
        <input [attr.disabled]="createdEmployee && !update ? '' : null" formControlName="name" class="form-control" type="text" id="name" placeholder="Employee name" autofocus>
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input [attr.disabled]="createdEmployee && !update ? '' : null" formControlName="title" class="form-control" type="text" id="title" placeholder="Employee title" autofocus>
      </div>
      <p>

      <div *ngIf='createdEmployeeError' class="alert alert-danger" role="alert">
        {{createdEmployeeError}}
      </div>

      <div *ngIf='createdEmployee' class="card text-center">
        <!--div class="card-body">
          <img src="{{barcodeImage}}" alt="{{createdEmployee?.id}}" width="256" height="128">
        </div-->
        <app-barcode id="barcode"
          bc-value="{{createdEmployee?.id}}"
          bc-display-value="true"
          bc-element-type="svg"
          bc-width="4"
          bc-height="200"
          bc-font-size="28"
          bc-text="{{totalText(createdEmployee?.id, createdEmployee?.name)}}">
        </app-barcode>
      </div>
    </div>

    <div class="modal-footer mt-1">
      <button *ngIf='update' [disabled]="!employeeAddForm.dirty || !employeeAddForm.valid" type="button" class="btn btn-info btn-raised" (click)="onUpdate()">Save</button>
      <button *ngIf='!createdEmployee' [disabled]="!employeeAddForm.valid" type="submit" class="btn btn-info btn-raised">Add Employee</button>
      <button *ngIf='createdEmployee' type="button" class="font-medium-1 btn btn-success btn-raised" printSectionId="barcode" appPrint>Print Barcode</button> 
      <button type="button" class="font-medium-1 btn btn-danger btn-raised" (click)="activeModal.close('Close click')">Close</button>
    </div>

  </form>

</ng-template>
