<div class="text-center hero my-5">
    <img class="mb-3 app-logo" src="../../assets/logo.png" alt="Angular logo" />
    <h1 class="mb-4">نظام تسجيل الدخول والخروج</h1>

    <div class="card" *ngIf="auth.isAuthenticated$ | async">
      <div class="card-body">
        
        <form [formGroup]="idForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-control-lg" for="employeeID">Enter employee ID or scan the barcode</label>
            <input formControlName="id" class="form-control form-control-lg" type="text" autocomplete="off" id="employeeID" placeholder="Employee ID" autofocus>
          </div>
          <button [disabled]="!idForm.valid" type="submit" class="btn btn-danger btn-lg mb-2">Log In/Out</button>
        </form>
      
      </div>
    </div>

    
</div>
