<div class="container" *ngIf="loading else loaded">
  <app-loading></app-loading>
</div>

<ng-template #loaded>

<section id="employees" class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">

        <div class="card-header">

          <h4 class="card-title mt-3">
            <span class="badge badge-success">{{loggedInEmployees}}</span>
            Logged In /
            <span class="badge badge-secondary">{{totalEmployees}}</span>
            Total
          </h4>

          <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 mt-3">
              <input class="form-control form-control-md" id="ex1" type="text" placeholder="Search" (keyup)="updateFilter($event)">
            </div>


            

          <div class="col-lg-4 col-md-4 col-sm-4 mt-3">
            <button class="btn btn-info mb-5" (click)="addEmployee()">Add Employee</button>
          </div>

          </div>

          

        </div>
        

        <div class="card-body">
          <div class="card-block border-top-2 border-top-blue-grey border-top-lighten-4">

            <ngx-datatable class="bootstrap core-bootstrap"
              [rows]="employeesMatched"
              [columnMode]="'force'" [footerHeight]="30" [footerHeight]="50" [rowHeight]="'auto'"
              [scrollbarV]="false" [messages]="{emptyMessage: '', totalMessage: ''}" [limit]="100"
              [scrollbarH]="true">

              <ngx-datatable-column name="ID" [sortable]="true" prop="id">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="" (click)="detailsEmployee(row)">{{row.id}}</a>
                </ng-template>
              </ngx-datatable-column>
              

              <ngx-datatable-column name="Name" [sortable]="true" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>{{row.name}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Title" [sortable]="true" prop="title">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>{{row.title}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Status" [sortable]="true" prop="loggedIn">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span [ngClass]="['badge', 'badge-pill', row.loggedIn==true ? 'badge-success' : 'badge-secondary']"><b>Logged In</b></span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Last Updated" [sortable]="true" prop="updatedAt">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>{{parseDate(row.updatedAt)}}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actions">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href="javascript:;" class="text-danger p-0" (click)="deleteEmployee(row.id, row.name)">
                    <i class="fa fa-trash fa-lg"></i>
                  </a>
                  <a href="javascript:;" class="text-success p-1" (click)="updateEmployee(row)">
                    <i class="fa fa-edit fa-lg"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>


          </div>
        </div>

      </div>
    </div>
  </div>
</section>


</ng-template>
